.main-features{
    &__wrapper{
        padding-top: 90px;
        padding-bottom: 195px;
        background-color: #8CCBC5;
 
    }
    &__title{
        text-align: center;
        font-style: normal;
        font-weight: 900;
        font-size: 35px;
        line-height: 150%;

        color: #FFFFFF;
    }
    &__items{
        list-style: none;

        display: flex;
        flex-direction: column;
    }
    &__item{
        margin-top: 90px;

        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    &__item_reverse{
        flex-direction: row-reverse;
    }
    &__feature-image{
        margin-right: 90px;
    }
    &__feature-description{
        max-width: 368.26px;

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;

        color: #FFFFFF;
    }

   
}